*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
li{
    list-style-type: none;
    padding-right: 25px;
    color: #777777;
}

hr{
    color: #c2c2c2;

}
ul,
header section:first-child,
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header section nav img{
    padding-right: 30px;
}

header section:first-child{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    border-radius: 0;
}

.button_blue{
    padding: 5px 10px;
    background-color: #0060ff;
    color: white;
    border: none;
}

/* jumbo */

section.jumbo{
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

section.jumbo div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    height: 100%;
}
section.jumbo div article:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding-top: 50px;
}

section.jumbo article > img {
    width: 120%;
}

section.jumbo div article:last-child{
    display: flex;
    padding-top: 30px;
    position: relative;
    top: 60px;
}

section.jumbo div article:last-child div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.margin_top{
    margin-top: 30px;
}
.due_rem{
    font-size: 2rem;
}

.size_one{
    font-size: 1.1rem;
}




/* main
 */
.first_main{
    margin: 0 auto;
    width: 55%;
}

main section:nth-of-type(1){
    padding-top: 150px;
}

.padding_bottom{
    padding-bottom: 50px;
}

.padding_right{
    padding-right: 20px;
}

.box_plane{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.single_plane{
    width: calc((100% / 3) - 1rem);
    border: 1px solid rgb(109, 109, 109);
    padding-bottom: 10px;
}

.single_plane h3{
    display: flex;
    justify-content: center;
    font-size: .8rem;
    line-height: 100%;
    padding: 5px 0;
}


.single_plane h2{
    padding: 20px 20px 20px 10px;
}

.single_plane p{
    padding: 15px 20px 0 10px;
    font-size: .7rem;
}

.single_plane div{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}
.single_plane div button{
    padding: 10px 20px;
}

.single_plane ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.single_plane ul li{
    color: black;
}


.color_soft{
    color: rgb(109, 109, 109);
}

.box_plane p:nth-of-type(3){
    padding: 30px 0 0 10px;
}

.linea_piccola{
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
}


.display_inline{
    display: flex;
    padding-left: 10px;
}

.check_self{
    align-self: center;
}


.box_plane_fullspace{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(109, 109, 109);
}

.box_plane_fullspace >div:first-child{
    align-self: center;
    padding: 5px 0;
}

.box_plane_fullspace > div:last-child{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 20px;
}

.Enterprise_padding > h3{
    padding-bottom: 10px;
}

.Enterprise_padding > p{
    padding-bottom: 10px;
}

.Enterprise_padding > p:last-child{
    padding-top: 15px;
}

.padding_button{
    padding: 10px 20px;
    margin: 0 10px;
}

/* partner */

.partner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

article.partner div{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
article.partner div:first-child{
    width: 60%;
    object-fit: cover;
}

article.partner div:last-child p{
    padding: 20px 0 20px 0;
}

.btn_partner{
    width: 60%;
    padding: 10px;
    background-color: white;
    color: rgb(109, 109, 109);
    border: 2px solid rgb(109, 109, 109);
}

/* operazioni con dropbox */

.title_operation{
    padding-top: 50px;
    font-size: 3rem;
}

.operation_business{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.operation_business article{
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 1rem);
}

.operation_business article div img{
    width: 100%;
    object-fit: cover;
}

.operation_business article div p{
    padding-top: 20px;
}

.title_team{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3rem;
}

/* sponsor */

.sponsor{
    display: flex;
}

.sponsor_four,
.sponsor_four_second{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.sponsor_four div,
.sponsor_four_second div{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor_four div img,
.sponsor_four_second div img{
    width: 50%;
    filter:invert(1);
}

.sponsor_four div:nth-of-type(1){
    background-color: #a2d39b;
}


.sponsor_four div:nth-of-type(2){
    background-color: #61082b;
}

.sponsor_four div:nth-of-type(3){
    background-color: #0093ce;
}

.sponsor_four div:nth-of-type(4){
    background-color: #ff1c1c;
}

.sponsor_four_second div:nth-of-type(1){
    background-color: #d5001f;
}

.sponsor_four_second div:nth-of-type(2){
    background-color: #b4d0e7;
}

.sponsor_four_second div:nth-of-type(3){
    background-color: #0d2481;
}

.sponsor_four_second div:nth-of-type(4){
    background-color: #ffd830;
}

div.sponsor_center{
    display: flex;
    padding: 50px;
    flex-direction: column;
}

div.sponsor_center img{
    width: 200px;
    padding-bottom: 50px;
}
div.sponsor_center p{
    padding-top: 100px;
}

section.dropbox_prova{
    background-color: #b4d0e7;
}
.main_stretch{
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding: 50px 0 100px 0;

}
section.dropbox_prova h1{
    font-size: 2rem;
}

.domande_frequenti{
    padding: 100px 0 100px 0;
    font-size: 2.5rem;
}
.padding_p p{
    padding: 50px 0 50px 0;
}

.open_domande{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

/* footer */

footer{
    margin-top: 200px;
    background-color: black;
}
.footer_section{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.footer_section div{
    width: calc(15% - 3rem);
}

.nav_footer{
    color: white;

}
.nav_footer ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_footer ul li:nth-of-type(1){
    font-size: 2rem;
    padding: 100px 0 30px 0;
}

.nav_footer ul li{
    padding: 10px 0 10px 0;

}

.footer_section p{
    color: white;
    padding-top: 15px;
}